* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar {
    background-color: #89B9AD;
    height: 3rem;
    padding-top: 1rem;
}

#navbar a {
    margin: 1rem;
    color: #FFEBD8;
}
.card {
    width: 40%;
}